@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400;1,900&family=Open+Sans:ital,wght@0,400;0,600;1,800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}
h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin: 0;
}